{{! Space creation form: }}
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{t "space.save_graph" }}</h4>
      </div>
      <div class="modal-body">
        {{! Mail address}}
        <div class="form-group">
          <label class="control-label" for="space-email">{{t "space.email" }}</label>
          <div>
            <input id="space-email"
                   name="space-email"
                   type="text"
                   placeholder="{{t "space.email" }}"
                   class="form-control input-md" required="">

          </div>
        </div>

        {{! Password input}}
        <div class="form-group">
          <label class="control-label" for="space-password">{{t "space.password" }}</label>
          <div>
            <input id="space-password"
                   name="space-password"
                   type="password"
                   placeholder="{{t "space.password" }}"
                   class="form-control input-md" required="">

          </div>
        </div>
      </div>

      <div class="modal-footer">
        {{! Button }}
        <div class="form-group">
          <div>
            <button id="space-save"
                    name="space-save"
                    class="btn btn-primary">
              {{t "space.save" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
