{{! Space creation form: }}
<div data-app-modal="save" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sorry :(</h4>
      </div>
      <div class="modal-body">
        <p>
          This app has been archived and is not connected to our API server anymore. You can only use the static part of the web app to browse graphs and see what it looked like at the time.
        </p>

        <p>
          Check out the <a href="https://medialab.github.io/minivan" target="_blank" rel="noopener">MiniVan</a> project if you want to see a more modern incarnation of manylines' concept.
        </p>
        {{!-- {{! Mail address}}
        <div>
          <em>{{t "space.disclaimer" }}</em>
        </div>
        <br>
        <div class="form-group">
          <label class="control-label" for="space-email">{{t "space.email" }}</label>
          <div>
            <input id="space-email"
                   name="space-email"
                   type="text"
                   placeholder="{{t "space.email" }}"
                   class="form-control input-md" required="">

          </div>
        </div>

        {{! Password input}}
        <div class="form-group">
          <label class="control-label" for="space-password">{{t "space.password" }}</label>
          <div>
            <input id="space-password"
                   name="space-password"
                   type="password"
                   placeholder="{{t "space.password" }}"
                   class="form-control input-md" required="">

          </div>
        </div> --}}
      </div>

      {{!-- <div class="modal-footer">
        {{! Button }}
        <div class="form-group">
          <div>
            <button id="space-save"
                    name="space-save"
                    class="btn btn-primary">
              {{t "space.save" }}
            </button>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
</div>
