{{! Basemap: Force panel }}
<div class="tirette-container">
  <div class="tirette">
    <a href="#" class="btn btn-link" role="button">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="settings-container">
  <div class="setting-item">
    <p class="title">{{t "basemap.force.linlog" }}</p>
    <p>
      <div role="form">
        <label class="checkbox-inline">
          <input data-app-basemap-layout-option="linLogMode" type="checkbox" value="linlog" {{#if linLogMode }} checked="checked" {{/if}}> {{t "basemap.force.linlog" }}
        </label>
      </div>
    </p>
    <p class="text-info">
      {{t "basemap.force.linlog_description" }}
    </p>
  </div>
  <div class="setting-item">
    <p class="title">{{t "basemap.force.gravity" }}</p>
    <p>
      <div role="form">
        <input data-app-basemap-layout-option="gravity" class="form-control" type="number" placeholder="{{t "basemap.force.gravity_placeholder" }}" {{#if gravity }} value="{{multiply gravity 1000}}" {{else}} value="" {{/if}}>
      </div>
    </p>
    <p class="text-info">
      {{t "basemap.force.gravity_description" }}
    </p>
  </div>
  {{!--<div class="setting-item">
    <p class="title">{{t "basemap.force.stronger_gravity" }}</p>
    <p>
      <div role="form">
        <label class="checkbox-inline">
          <input data-app-basemap-layout-option="strongGravityMode" type="checkbox" value="stronger_gravity" {{#if strongGravityMode }} checked="checked" {{/if}}> {{t "basemap.force.stronger_gravity" }}
        </label>
      </div>
    </p>
    <p class="text-info">
      {{t "basemap.force.stronger_gravity_description" }}
    </p>
  </div>--}}
  {{!--<div class="setting-item">
    <p class="title">{{t "basemap.force.no_overlapping" }}</p>
    <p>
      <div role="form">
        <label class="checkbox-inline">
          <input data-app-basemap-layout-option="adjustSizes" type="checkbox" value="no_overlapping" {{#if adjustSizes }} checked="checked" {{/if}}> {{t "basemap.force.no_overlapping" }}
        </label>
      </div>
    </p>
    <p class="text-info">
      {{t "basemap.force.no_overlapping_description" }}
    </p>
  </div>--}}
</div>
