{{! Base map view: }}
<div class="col-left col-xs-9" data-app-module="basemap" data-app-basemap-panel="sigma">
  <div class="sigma-panel">
    <div class="sigma-expand"></div>
    <div class="sigma-overlay">
      <!-- UNCOMMENT TO USE PROGRESS BARS -->
      <!-- <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          Network loading...
        </div>
      </div> -->
    </div>
    <div class="sigma-tools">
      <div class="btn-group-vertical">
        <button type="button"
                class="btn btn-link btn-sm"
                data-app-basemap-action="recenter">
          <span class="glyphicon glyphicon-record"></span>
        </button>
        <button type="button"
                class="btn btn-link btn-sm"
                data-app-basemap-action="zoom">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button"
                class="btn btn-link btn-sm"
                data-app-basemap-action="unzoom">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-middle col-xs-3" data-app-module="basemap" data-app-basemap-panel="force" style="display: none;">
  <div class="tirette-container">
    <div class="tirette">
      <a href="#" class="btn btn-link" role="button">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="settings-container">
    <div class="setting-item">
      <p class="title">{{t "basemap.force.linlog" }}</p>
      <p>
        <form role="form">
          <label class="checkbox-inline">
            <input type="checkbox" value="linlog"> {{t "basemap.force.linlog" }}
          </label>
        </form>
      </p>
      <p class="text-info">
        {{t "basemap.force.linlog_description" }}
      </p>
    </div>
    <div class="setting-item">
      <p class="title">{{t "basemap.force.gravity" }}</p>
      <p>
        <form role="form">
          <input type="number" class="form-control" placeholder="{{t "basemap.force.gravity_placeholder" }}" value="1.0">
        </form>
      </p>
      <p class="text-info">
        {{t "basemap.force.gravity_description" }}
      </p>
    </div>
    <div class="setting-item">
      <p class="title">{{t "basemap.force.stronger_gravity" }}</p>
      <p>
        <form role="form">
          <label class="checkbox-inline">
            <input type="checkbox" value="stronger_gravity"> {{t "basemap.force.stronger_gravity" }}
          </label>
        </form>
      </p>
      <p class="text-info">
        {{t "basemap.force.stronger_gravity_description" }}
      </p>
    </div>
    <div class="setting-item">
      <p class="title">{{t "basemap.force.no_overlapping" }}</p>
      <p>
        <form role="form">
          <label class="checkbox-inline">
            <input type="checkbox" value="no_overlapping"> {{t "basemap.force.no_overlapping" }}
          </label>
        </form>
      </p>
      <p class="text-info">
        {{t "basemap.force.no_overlapping_description" }}
      </p>
    </div>
  </div>
</div>

<div class="col-right col-xs-3" data-app-module="basemap" data-app-basemap-panel="sidebar">
  <div class="forcelayout-container">
    <div class="tirette">
      <a href="#" class="btn btn-link" role="button">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div data-app-basemap-switchlayout="off">
      <a class="btn btn-primary on"
         data-app-basemap-action="startLayout"
         role="button">
        {{t "basemap.apply_layout"}} &nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a class="btn btn-default off"
         data-app-basemap-action="stopLayout"
         role="button">
        {{t "basemap.stop_layout"}} &nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-stop"></span>
      </a>
    </div>
  </div>

  <div class="container-networklist">
    <div class="subcontainer-networklist">
      <!-- Here is an example of how to format the network list items:
      <div class="network-item" role="button">
        <div class="row">
          <div class="col col-xs-5">
            <div class="network-thumbnail"></div>
          </div>
          <div class="col col-xs-7">
            <div class="network-abstract">
              <p class="network-abstract-title">Nombre de langages y compris les multiples</p>
              <p class="network-abstract-subtitle">5 categories</p>
            </div>
          </div>
        </div>
      </div> -->

    </div>

  </div>
</div>
