{{! Explore panel: }}
<div class="row">
  <div class="col-sm-7 col-md-8 col-lg-9">
    <div class="sigma-panel">
      <div class="sigma-expand"></div>
      <div class="sigma-overlay sigma-messages">
        <span class="label label-primary" data-tbn-explore="mode"></span>
        <span class="label label-default" data-tbn-explore="node"></span>
        <span class="label label-default" data-tbn-explore="edge"></span>
        <span class="label label-danger" data-tbn-explore="layout"></span>
      </div>
      <div class="sigma-overlay sigma-pending">
        <!-- UNCOMMENT TO USE PROGRESS BARS -->
        <!-- <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            Network loading...
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-4 col-lg-3">
    <div class="filter-panel">
      <strong>Filter panel</strong> (to do...)
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<h2>{{t "explore.select_mode" }}</h2>
<div class="row">
  <div class="col-sm-4 col-md-3 col-lg-2">
    <div class="pushpanel pushpanel-active">
      <img src="/img/_placeholder-network-thumbnail.png" class="landscape" />
      <div class="content pushpanel-content-small">
        <div class="radio">
          <label>
            <input type="radio" checked> <h4>{{t "explore.overview" }}</h4>
          </label>
        </div>
        <p>{{t "explore.overview_description" }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 col-lg-2">
    <div class="pushpanel">
      <img src="/img/_placeholder-network-thumbnail.png" class="landscape" />
      <div class="content pushpanel-content-small">
        <div class="radio">
          <label>
            <input type="radio"> <h4>{{t "explore.local" }}</h4>
          </label>
        </div>
        <p>{{t "explore.local_description" }}</p>
      </div>
    </div>
  </div>
</div>
